extends layout

block styles    
    link(rel='stylesheet', href='/lib/perfect-scrollbar/css/perfect-scrollbar.min.css')

block content
    include menu.pug
    
    include song.pug
        
block scripts    
    | require(['index'], function(index) {});
        
