doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/lib/bootstrap/bootstrap.min.css')
        link(rel='stylesheet', href='/lib/font-awesome/css/font-awesome.min.css')
        link(rel='stylesheet', href='/lib/perfect-scrollbar/css/perfect-scrollbar.min.css')
        link(rel='stylesheet', href='/styles/style.css')
    body
      
        block content
            
        block scripts
